__pycache__
.idea/*
/peft/src/peft/__pycache__
logs/*

*.pyc
wandb/*
experiment/*
*.pyc

*/build/*
*/dist/*
notebooks/*png
notebooks/*ipynb
notebooks/compress_tools
notebooks/models
notebooks/quant

gsm8k_fewshot/*